* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  color: #333;
}

/* Outer container */
.timeline-section {
  background-color: white;
  width: 100%;
  min-height: 200vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

/* Wrapper: both sides */
.timeline-wrapper {
  display: flex;
  width: 90%;
  max-width: 1200px;
  gap: 80px;
  position: relative;
}

/* Left side fixed */
.timeline-left {
  position: sticky;
  top: 100px;
  width: 220px;
  height: fit-content;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 35%;
  width: 4px;
  height: 100%;
  background: #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
}

.timeline-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--fill, 0%);
  background: linear-gradient(to bottom,#eb8846,#FF7518, #c2530a);
  border-radius: 2px;
  transition: height 0.2s ease;
}

.timeline-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  position: relative;
  margin-top: 10px;
}

.timeline-step {
  background: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  border: 1px solid #ddd;
  color: #FF7518;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.timeline-step::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -28px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #ccc;
  transition: all 0.3s ease;
}

.timeline-step.active {
  border-color: #FF7518;
  background: #f6f0ff;
  color: #FF7518;
}

.timeline-step.active::before {
  background: #FF7518;
  border-color: #FF7518;
  box-shadow: 0 0 8px#4f5b67;
}

/* Right side scrollable content */
.timeline-right {
  flex: 1;
  position: relative;
}

.timeline-card {
  background: linear-gradient(to bottom right, #fff, #f8f8ff);
  border-radius: 18px;
  padding: 40px;
  margin-bottom: 40px;
  border: 1px solid #FF7518;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  opacity: 0.4;
  transform: scale(0.98);
  transition: all 0.6s ease;
}

.timeline-card.active {
  opacity: 1;
  transform: scale(1);
  border-color: #FF7518;
  box-shadow: 0 8px 25px rgba(124, 58, 237, 0.15);
}

.timeline-card h3 {
  margin-bottom: 10px;
  color: #2b2b2b;
}

.timeline-card p {
  color: #666;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background: #f0f0ff;
  padding: 8px 14px;
  border-radius: 16px;
  font-size: 14px;
  color: #36404A;
}

/* Responsive */
@media (max-width: 800px) {


  .timeline-wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .timeline-left {
    display: none;
  }
}
